    {% extends "base.html" %}
    {% load static %}
    {% block homeactive %} active {% endblock homeactive %}
    {% block title %} Home {% endblock title%}
    {% block body %}

    </div>
    <div class="container my-1">
        <h2 class="text-center my-3">About me</h2>
         <div class="card-body">
                        <h4 class="card-title">Developer</h4>
                        <p class="card-text">I've been passionate about development since I learned how to automate tasks at work.
                             I like using technology as a tool to streamline tasks a lot.</p>
                             <a href="https://github.com/MPDevuy" class="btn btn-primary">Github</a>
                             <a href="https://www.linkedin.com/in/martin-pereira-dev/"  class="btn btn-secondary">Linkedin</a>
                             
                             
        <div class="row">
            <div class=" col-md-14">
                <div class="card" style="center: 18rem;">
                    <img class="card-img-top" src="static/Code2.jpg " 
                    alt="Card image cap">
                                           
                    </div>
                </div>
            </div>
            
            
    {% endblock body %}