{% extends "base.html" %}
{% block projectsactive %} active {% endblock projectsactive %}
{% block title %} Projects {% endblock title%}
    {% block body %}

    <div class="container my-3">
        <h1 class="text-center my-3">Projects</h1>
        <h2 class="text-center my-2">SP App Gestion de servicios</h2>
        <p>App que gestiona la promocion y  busqueda de  servicios, tanto a nivel mundial</p>
        <a  href="https://github.com/MPDevuy/Android" class="btn btn-primary">Github SP</a>
        <div class="row">
        <div class=" col-md-4">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="static/inicio_App.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Menu App</h5>
                        <p class="card-text">Menu navegable de los servicios</p>
                        
                </div>  
        </div>
    </div>
                
    
    <div class=" col-md-4">
        
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="static/Servicios.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Busqueda</h5>
                <p class="card-text">Listado de servicios</p>
                
    
            
            </div>
        </div>
    </div>
    <div class=" col-md-4">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="static/Mapa.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mapa App</h5>
                <p class="card-text">Mapa con resultados</p>
                
    
            
            </div>
        </div>
    </div>
    <div class="container my-3">
        <h2 class="text-center my-2">Web de servicios</h2>
        <a  href="https://github.com/MPDevuy/Android" class="btn btn-primary">Github Web</a>
        <div class="row">
        <div class=" col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/inicio.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Inicio con busqueda</h5>
                        <p class="card-text">Web  servicios</p>
                        
                </div>  
        </div>
    </div>
                
    
    <div class=" col-md-4">
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/Acerca_de.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Vision</h5>
                <p class="card-text">Vision de la empresa</p>
                
    
            
            </div>
        </div>
    </div>

    <div class="container my-3">
        <h2 class="text-center my-2">Gestor de clientes</h2>
        <a  href="https://github.com/MPDevuy/Android" class="btn btn-primary">Github Gestor</a>
        <div class="row">
        <div class=" col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/MenuGestor.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Menu Clientes</h5>
                        <p class="card-text">Menu options, create,read,update,delete </p>
                        
                </div>  
        </div>
    </div>
                
    
    <div class=" col-md-4">
        
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="static/ClientesListar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Clients list</h5>
                <p class="card-text">List of clients </p>
                
    
            
            </div>
        </div>
    </div>
{% endblock body %}