{% load static %}
{% extends "base.html" %}
{% block projectsactive %} active {% endblock projectsactive %}
{% block title %} Projects {% endblock title%}
<link rel="stylesheet" href="{% static 'parrafo.css' %}">
    {% block body %}

    <div class="container my-3">
        <h1 class="text-center my-3">Projects</h1>
        <h2 class="text-center my-2">SP App Service Management</h2>
        <p1> App search for services, both locally, regionally or worldwide, if you are a professional you can promote your services.
            Customers can quickly face a need to contract services through, filters by categories, area or region where they can find services grouped according to their area through the map.
            If you have to make a trip and hire a service prior to your destination you can filter by country, region, area or if you only need a service near your neighborhood.
           
        </p1>
        <a  href="https://github.com/MPDevuy/Android" class="btn btn-primary">Github SP</a>
        <div class="row">
        <div class=" col-md-4">
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="static/inicio_App.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Menu App</h5>
                        <p class="card-text">Services navigable menu
                            where you can navigate within the different options.
                        </p>
                        
                </div>  
        </div>
    </div>
                
    
    <div class=" col-md-4">
        
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="static/Servicios.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Search</h5>
                <p class="card-text">List of services.</p>
                
    
            
            </div>
        </div>
    </div>
    <div class=" col-md-4">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="static/Mapa.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Map App</h5>
                <p class="card-text">Map with results.</p>
                
    
            
            </div>
        </div>
    </div>
    <div class="container my-3">
        <h2 class="text-center my-2">Web de servicios</h2>
        <a  href="https://github.com/MPDevuy/Android" class="btn btn-primary">Github Web</a>
        <div class="row">
        <div class=" col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/inicio.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Inicio con busqueda</h5>
                        <p class="card-text">Web  servicios</p>
                        
                </div>  
        </div>
    </div>
                
    
    <div class=" col-md-4">
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/Acerca_de.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Vision</h5>
                <p class="card-text">Vision de la empresa</p>
                
    
            
            </div>
        </div>
    </div>

    <div class="container my-3">
        <h2 class="text-center my-2">Gestor de clientes</h2>
        <a  href="https://github.com/MPDevuy/Android" class="btn btn-primary">Github Gestor</a>
        <div class="row">
        <div class=" col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/MenuGestor.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Menu Clientes</h5>
                        <p class="card-text">Menu options, create,read,update,delete </p>
                        
                </div>  
        </div>
    </div>
                
    
    <div class=" col-md-4">
        
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="static/ClientesListar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Clients list</h5>
                <p class="card-text">List of clients </p>
                
    
            
            </div>
        </div>
    </div>
{% endblock body %}