{% extends "base.html" %}
{% block projectsactive %} active {% endblock projectsactive %}
{% block title %} Projects {% endblock title%}
{% block body %}

<div class="container my-3">
    <h1 class="text-center my-3">Projects</h1>
    <h2 class="text-center my-2">Gestor de Clientes</h2>
<div class=" col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/inicio_App.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Creative</h5>
            <p class="card-text">'s content.</p>
            <a href="#" class="btn btn-primary">Github</a>
        </div>
    </div>
</div>
{% endblock body %}